* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #131313;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0px 20px;
}